
.item {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: var(--color-light);

  border: 4px solid #fff;
  border-radius: 10px;
  overflow: hidden;
      object-fit: cover;
  /* display: flex; */
  /* border: 1px solid transparent; */
/* 
  width: 360px;
    height: 154px;
    object-fit: cover; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}